/* body of the home page */
#home {
  font-family: "Helvetica", sans-serif;
  text-align: center;
  color: black;
  font-size: 14px; /* for p elements */
}

header {
  background-image: url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
}

h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
}

li {
  list-style: none;
  line-height: 30px;
}

a {
  font-size: 18px;
  color: white;
}
