/* body of the home page */
#home {
  font-family: "Helvetica", sans-serif;
  text-align: center;
  color: white;
}

header {
  background-image: url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
}

h1{
  font-size: 70px;
  font-weight: bold;
}

li {
  list-style: none;
  line-height: 30px;
}

a {
  font-size: 18px;
  color: white;
}
